### DATA ENGINEERING PLATFORMS (MSCA 31012)
#### Assignment 1 Part A Question 
#### Duo Zhou

We need average income data by each chicago community area for the final project. I found the following site containing the desired data, then utilized request, BeautifulSoup and Pandas packages to scrape and structure the desired data from the website. 
Installation:
`pip install BS4`  | 
`pip install Requests`

In [1]:
import csv
import requests
from bs4 import BeautifulSoup
from IPython.display import HTML
import pandas as pd

In [2]:
# Scraping table data from following site
url = 'http://www.chicagocomputerclasses.com/average-city-chicago-income/'
headers = {'User-Agent': "Chrome/54.0.2840.90"}
response = requests.get(url, headers=headers)
html = response.content

In [3]:
HTML('<iframe src=http://www.chicagocomputerclasses.com/average-city-chicago-income/ width=900 height=350></iframe>')

C:\Users\zd000\Anaconda3\lib\site-packages\IPython\core\display.py:694: UserWarning: Consider using IPython.display.IFrame instead
  warnings.warn("Consider using IPython.display.IFrame instead")

In [4]:
soup= BeautifulSoup(response.text, "lxml")
table = soup.find('table', attrs={'width':'283', 'border':'0', 'cellspacing':'0', 'cellpadding':'0'})

In [5]:
rows = table.find_all('tr')
column_names = [v.text.replace('Average','Average of PER CAPITA INCOME') for v in rows[2].find_all('th')]

In [6]:
df = pd.DataFrame(columns=column_names)

for i in range(3,len(rows)):
    tds = rows[i].find_all('td')
    values = [td.text for td in tds]
    df = df.append(pd.Series(values, index=column_names), ignore_index=True)

In [7]:
pd.options.display.max_rows  
pd.set_option('display.max_rows', None)
df.head(50)

       COMMUNITY AREA NAME Average of PER CAPITA INCOME
0          Near North Side                   $88,669.00
1             Lincoln Park                   $71,551.00
2                     Loop                   $65,526.00
3                Lake View                   $60,058.00
4          Near South Side                   $59,077.00
5             North Center                   $57,123.00
6           Near West Side                   $44,689.00
7              Forest Glen                   $44,164.00
8                West Town                   $43,198.00
9              Edison Park                   $40,959.00
10                 Beverly                   $39,523.00
11               Hyde Park                   $39,056.00
12          Lincoln Square                   $37,524.00
13                 Kenwood                   $35,911.00
14                  Uptown                   $35,787.00
15         Mount Greenwood                   $34,381.00
16               Edgewater                   $33,385.00
17            Norwood Park                   $32,875.00
18            Logan Square                   $31,908.00
19         Calumet Heights                   $28,887.00
20                 CHICAGO                   $28,202.00
21          Jefferson Park                   $27,751.00
22             Irving Park                   $27,249.00
23             Morgan Park                   $27,149.00
24              North Park                   $26,576.00
25          Garfield Ridge                   $26,353.00
26                 Dunning                   $26,282.00
27                  Oâ€™Hare                   $25,828.00
28                Clearing                   $25,113.00
29             Avalon Park                   $24,454.00
30            Portage Park                   $24,336.00
31             Rogers Park                   $23,939.00
32                 Douglas                   $23,791.00
33                 Ashburn                   $23,482.00
34         Grand Boulevard                   $23,472.00
35              West Ridge                   $23,040.00
36              Bridgeport                   $22,694.00
37               Hegewisch                   $22,677.00
38              Montclaire                   $22,014.00
39             Albany Park                   $21,323.00
40                 Pullman                   $20,588.00
41                Avondale                   $20,039.00
42       Washington Height                   $19,713.00
43             South Shore                   $19,398.00
44                 Oakland                   $19,252.00
45                 Chatham                   $18,881.00
46                Woodlawn                   $18,672.00
47                Roseland                   $17,949.00
48  Greater Grand Crossing                   $17,285.00
49               East Side                   $17,104.00

In [35]:
df.to_csv(r'C:\Users\zd000\Desktop\MSCA\Data Engineering Platforms\01-Assigments\Assignment1'+
         '\\Output_file_Assign1_PartA_Q3_Duo_ZHou.csv', index=False)